<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--驱动程序-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- JDBC URL -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/SpongeTime?characterEncoding=utf-8</property>
        <!-- 数据库用户名-->
        <property name="hibernate.connection.username">root</property>
        <!-- 数据库密码-->
        <property name="hibernate.connection.password">password</property>
        <!-- SQL方言，这边设定的是MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <!--映射文件 -->
        <mapping resource="cn/updev/Users/Static/User.hbm.xml"/>
        <mapping resource="cn/updev/Events/Static/Event.hbm.xml"/>
    </session-factory>
</hibernate-configuration>